In [11]:
### Say "Hello" to the world in Python
print ('Hello - Python')

Hello - Python

In [12]:
### What version of Python are we using?
import sys
print (sys.version)

3.6.11 | packaged by conda-forge | (default, Jul 23 2020, 22:18:32)
[GCC 7.5.0]

In [13]:
## Writing comments in Python
print ('Hello, World !!!!')# Hi
# Good Morning

Hello, World !!!!

In [14]:
## Errors in Python
frint('Hello, World')

NameError: name 'frint' is not defined

In [15]:
## SyntaxError
print ('Hello, World )

SyntaxError: EOL while scanning string literal (<ipython-input-15-b263eaa4f40f>, line 2)

In [16]:
## Does Python know about your error before it runs your code?
print('this will be printed...')
frint('this will cause an error...')
print('this will not printed...')

this will be printed...

NameError: name 'frint' is not defined

In [17]:
## Exercise: Your First Program

# Write your code below and press Shift+Enter to execute 
print ('Hello, World!')

Hello, World!

In [18]:
## Hello, world! and comment it with the phrase Print the traditional hello world all in one line of code.
# Write your code below and press Shift+Enter to execute 
print('Hello, World!') # Print the traditional hello world

Hello, World!

## Types of objects in Python

### The following code cells contain some examples.

In [21]:
# integer  
7

7

In [25]:
# float 
3.14

3.14

In [27]:
#string
'I Love MySelf'

'I Love MySelf'

In [22]:
#type of int

type(7)

int

In [29]:
#type of float
type(30.14)

float

In [31]:
# type of string
type ('I Love MySelf')

str

In [32]:
# type of 12.0
type(12.0)

float

### Integers

In [19]:
# print the type of -1
type(-1)

int

In [34]:
# print the type of 4
type(4)

int

In [35]:
#print of the type of 0
type(0)

int

### Floats

In [1]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [2]:
# Print the type of 0.5

type(0.5)

float

In [3]:
# Print the type of 0.56

type(0.56)

float

In [22]:

# System settings about float type

import sys 
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Converting from one object type to a different object type

In [10]:
# Verify that this is an integer

type(2)

int

In [23]:
## Converting integers to floats
#Let's cast integer 2 to float:

# Convert 2 to a float

float(2)

2.0

In [24]:
# Convert integer 2 to a float and check its type

type(float(2))

float

# Casting 1.1 to integer will result in loss of information

int(1.1)

### Converting from strings to integers or floats

In [28]:
#e can cast that string that represents a number into an integer using int():
# Convert a string into an integer

int('1')

1

In [29]:
# But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [31]:
# Convert the string "1.2" into a float

float('1.2')
# [Tip:] Note that strings can be represented with single quotes ('1.2') or double quotes ("1.2"), but you can't mix both (e.g., "1.2').

1.2

### Converting numbers to strings

In [32]:
# Convert an integer to a string

str(1)

'1'

In [33]:
# Convert a float to a string

str(1.2)

'1.2'

### Boolean data type
Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False:

In [34]:
# Value true

True

True

In [35]:
# Value false

False

False

In [36]:
# When you ask Python to display the type of a boolean object it will show bool which stands for boolean:
# Type of True

type(True)

bool

In [37]:
# Type of False

type(False)

bool

In [38]:
# Convert True to int

int(True)

1

In [39]:
# Convert 1 to boolean

bool(1)

True

In [40]:
# Convert 0 to boolean

bool(0)

False

In [41]:
# Convert True to float

float(True)

1.0

### Exercise: Types
What is the data type of the result of: 6 / 2?

In [42]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell 
type(6/2)

float

What is the type of the result of: 6 // 2? (Note the double slash //.)

In [43]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

int

## Expression and Variables
Expressions

In [44]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [45]:
# Subtraction operation expression

50 - 60

-10

In [46]:
# Multiplication operation expression

5 * 5

25

In [47]:
# Division operation expression

25 / 5

5.0

In [48]:
# Division operation expression

25 / 6

4.166666666666667

In [50]:
# Integer division operation expression

25 // 5

5

In [51]:
# Integer division operation expression

25 // 6

4

### Exercise: Expression
Let's write an expression that calculates how many hours there are in 160 minutes:

In [52]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

2.6666666666666665

In [53]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160//60

2

 #### Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example,
    # Python adds 30 to the result of the multiplication (i.e., 120).

In [56]:
# Mathematical expression

30 + 2 * 60

150

In [57]:
# Mathematical expression

(30 + 2) * 60

1920

### Variables
Just like with most programming languages, we can store values in variables, so we can use them later on.

In [65]:
# Store value into variable
 x = 43 + 60 + 16 + 41
    # To see the value of x in a Notebook, we can simply place it on the last line of a cell:

In [66]:
# Print out the value in variable
x

160

In [67]:
# We can also perform operations on x and save the result to a new variable:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [68]:
# If we save a value to an existing variable, the new value will overwrite the previous value:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [69]:
# It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [71]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

### Exercise: Expression and Variables in Python
What is the value of x where x = 3 + 2 * 2

In [72]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x= 3 + 2 * 2
x

7

In [73]:
# What is the value of y where y = (3 + 2) * 2?

# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2
y

10

In [78]:
# What is the value of z where z = x + y?

# Write your code below. Don't forget to press Shift+Enter to execute the cell

x + y

17